html, body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 90vw;
  height: 90vh;
  max-width: 90vh;
  max-height: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
}

h4 {
/*   color: var(--mid); */
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 1rem;
  text-align: center;
  pointer-events: none;
}

.flair {
  cursor: pointer;
  width: 100px;
  height: 100px;
  max-height: 15vh;
  max-width: 15vh;
}

.flair--3b {
  background-image:url(https://assets.codepen.io/16327/ui-flair-2.png);
}

.flair--4b {
  background-image:url(https://assets.codepen.io/16327/ui-flair-4.png);
}

.text {
  position: fixed;
  bottom: 1rem;
}